name: Lint and Testing

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    container: golang:1.20-alpine
    steps:
      - name: Setup go
        uses: actions/setup-go@v4
        with:
          go-version: '^1'
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: setup tool
        run: |
          apk add make git gcc g++
          make whisper

      - name: Setup golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest
          args: --verbose --timeout 20m

      - uses: hadolint/hadolint-action@v3.1.0
        name: hadolint for Dockerfile
        with:
          dockerfile: docker/Dockerfile

  testing:
    runs-on: ubuntu-latest
    container: golang:1.20-alpine
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: setup tool
        run: |
          apk add make git gcc g++

      - name: testing
        run: |
          make whisper
          make test

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
